- if user_signed_in?
  %nav.navbar.navbar-light.bg-faded#navbar
    %button{class: "navbar-toggler hidden-sm-up", type: "button",
    :data => { toggle: "collapse", target: "#collapsing-navbar"}}
      &#9776;
    .collapse.navbar-toggleable-xs#collapsing-navbar
      %ul.nav.navbar-nav
        %li.nav-item.float-sm-right
          = link_to 'Logout', destroy_user_session_path, method: :delete,
            class: 'nav-link'
        %li.nav-item.float-sm-left
          = link_to 'Admin', admin_root_path, class: 'nav-link'
